<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

<!--   External CSS  -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet"> </link>
<link href="{% if lang == 'en' %} {{rtlStyle}} {% else %} {{rtlStyle}} {% endif %}" rel="stylesheet"> </link>

<title>{{appName}}</title>
 

 
</head>
<body id="style-4">

<h1>Hello</h1>
	 